@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body{
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

#title{
    text-align: center;
}

main{
    text-align: center;
}

img{
    width: 200px;
    border-radius: 200px;
}

#nome{
    color: salmon;
}

li{
    display:contents;
    flex-direction: column;
}

button{
    align-self: left;
    height: 60px;
    border-radius: 15px;
    border-color: transparent;
    margin: 10px;
    margin-right: 50px;
    width: 700px;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

button:hover{
    background-color: salmon;
    transition: 0.5s all;
    color: white;
}

a{
    color: white;
    font-weight: 500;
}

a:hover{
    color: salmon;
    transition: 0.5s all;
}